* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
ul,
p,
ol,
table,
tr,
td,
li {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: var(--size-base);
  font-family: var(--font-sans-serif);
  /* TODO: Make configurable by users */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant-ligatures */
  font-variant-ligatures: none;
  /* normal */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  background: var(--u-color_background);
  color: var(--u-color_text);
  overflow: overlay; /* helps with transparent scrollbar tracks (technically deprecated property) */
}

input {
  border: 0;
  border-radius: 0;
  font-family: var(--font-sans-serif);
  caret-color: var(--u-color_caret);
}

::placeholder {
  color: var(--u-color_text_subdued);
}

li::marker {
  color: var(--u-color_icon);
}

mark {
  color: var(--u-color_search-highlight_text);
  background: var(--u-color_search-highlight_background);
}

* {
  scrollbar-width: 0.5rem;
  scrollbar-color: var(--u-color_scrollbar) var(--u-color_scrollbar-track);
}

::-webkit-scrollbar {
  height: 0.375rem;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--u-color_scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--u-color_scrollbar);
  border-radius: var(--border-radius-base);
}
