:root {
  /* `transparent` sometimes renders as a dark shade when used
   * in gradients in some browsers.  Having a variable based
   * on rgba fixes this and makes it convienient to use
   * everywhere.
   * https://stackoverflow.com/a/56548711
   */
  --color-transparent: rgba(255, 255, 255, 0);

  /* Gray base colors */
  --color-gray-0_: 24, 24, 28;
  --color-gray-1_: 34, 35, 42;
  --color-gray-2_: 45, 46, 53;
  --color-gray-3_: 81, 82, 88;
  --color-gray-4_: 129, 130, 134;
  --color-gray-5_: 189, 191, 198;
  --color-gray-6_: 209, 213, 220;
  --color-gray-7_: 217, 224, 231;
  --color-gray-8_: 228, 234, 243;
  --color-gray-9_: 250, 250, 251;
  --color-gray-10_: 255, 255, 255;

  /* Gray variations */
  --color-gray-0-20pct: rgba(var(--color-gray-0_), 0.2);
  --color-gray-0-50pct: rgba(var(--color-gray-0_), 0.5);
  --color-gray-1-transparent: rgba(var(--color-gray-1_), 0);
  --color-gray-2-transparent: rgba(var(--color-gray-2_), 0);
  --color-gray-10-50pct: rgba(var(--color-gray-10_), 0.5);
  --color-gray-9-50pct: rgba(var(--color-gray-9_), 0.5);
  --color-gray-9-25pct: rgba(var(--color-gray-9_), 0.25);

  /* Grays */
  --color-gray-0: rgba(var(--color-gray-0_), 1);
  --color-gray-1: rgba(var(--color-gray-1_), 1);
  --color-gray-2: rgba(var(--color-gray-2_), 1);
  --color-gray-3: rgba(var(--color-gray-3_), 1);
  --color-gray-4: rgba(var(--color-gray-4_), 1);
  --color-gray-5: rgba(var(--color-gray-5_), 1);
  --color-gray-6: rgba(var(--color-gray-6_), 1);
  --color-gray-7: rgba(var(--color-gray-7_), 1);
  --color-gray-8: rgba(var(--color-gray-8_), 1);
  --color-gray-9: rgba(var(--color-gray-9_), 1);
  --color-gray-10: rgba(var(--color-gray-10_), 1);

  /* Pink base colors */
  --color-pink-0_: 229, 16, 34;
  --color-pink-1_: 255, 71, 86;
  --color-pink-2_: 255, 108, 120;
  --color-pink-3_: 255, 155, 163;
  --color-pink-4_: 255, 193, 198;
  --color-pink-5_: 254, 238, 240;

  /* Pink variations */
  --color-pink-0-25pct: rgba(var(--color-pink-0_), 0.25);
  --color-pink-1-25pct: rgba(var(--color-pink-1_), 0.25);

  /* Pinks */
  --color-pink-0: rgba(var(--color-pink-0_), 1);
  --color-pink-1: rgba(var(--color-pink-1_), 1);
  --color-pink-2: rgba(var(--color-pink-2_), 1);
  --color-pink-3: rgba(var(--color-pink-3_), 1);
  --color-pink-4: rgba(var(--color-pink-4_), 1);
  --color-pink-5: rgba(var(--color-pink-5_), 1);

  /* Green base colors */
  --color-green-0_: 16, 115, 58;
  --color-green-1_: 39, 174, 96;
  --color-green-2_: 82, 209, 136;
  --color-green-3_: 136, 243, 181;
  --color-green-4_: 198, 255, 222;
  --color-green-5_: 232, 248, 239;

  /* Greens */
  --color-green-0: rgba(var(--color-green-0_), 1);
  --color-green-1: rgba(var(--color-green-1_), 1);
  --color-green-2: rgba(var(--color-green-2_), 1);
  --color-green-3: rgba(var(--color-green-3_), 1);
  --color-green-4: rgba(var(--color-green-4_), 1);
  --color-green-5: rgba(var(--color-green-5_), 1);

  /* Teal base colors */
  --color-teal-0_: 11, 128, 118;
  --color-teal-1_: 34, 190, 177;
  --color-teal-2_: 85, 244, 231;
  --color-teal-3_: 158, 255, 247;
  --color-teal-4_: 158, 255, 247;
  --color-teal-5_: 231, 255, 253;

  /* Teals */
  --color-teal-0: rgba(var(--color-teal-0_), 1);
  --color-teal-1: rgba(var(--color-teal-1_), 1);
  --color-teal-2: rgba(var(--color-teal-2_), 1);
  --color-teal-3: rgba(var(--color-teal-3_), 1);
  --color-teal-4: rgba(var(--color-teal-4_), 1);
  --color-teal-5: rgba(var(--color-teal-5_), 1);

  /* Blue base colors */
  --color-blue-0_: 11, 56, 128;
  --color-blue-1_: 34, 94, 190;
  --color-blue-2_: 86, 149, 244;
  --color-blue-3_: 158, 197, 255;
  --color-blue-4_: 203, 224, 255;
  --color-blue-5_: 236, 242, 250;

  /* Blue variations */
  --color-blue-0-25pct: rgba(var(--color-blue-0_), 0.25);
  --color-blue-1-25pct: rgba(var(--color-blue-1_), 0.25);
  --color-blue-2-25pct: rgba(var(--color-blue-2_), 0.25);
  --color-blue-3-25pct: rgba(var(--color-blue-3_), 0.25);
  --color-blue-4-25pct: rgba(var(--color-blue-4_), 0.25);
  --color-blue-5-25pct: rgba(var(--color-blue-5_), 0.25);

  /* Blues */
  --color-blue-0: rgba(var(--color-blue-0_), 1);
  --color-blue-1: rgba(var(--color-blue-1_), 1);
  --color-blue-2: rgba(var(--color-blue-2_), 1);
  --color-blue-3: rgba(var(--color-blue-3_), 1);
  --color-blue-4: rgba(var(--color-blue-4_), 1);
  --color-blue-5: rgba(var(--color-blue-5_), 1);

  /* Orange base colors */
  --color-orange-0_: 184, 113, 32;
  --color-orange-1_: 255, 136, 0;
  --color-orange-2_: 255, 196, 31;
  --color-orange-3_: 255, 224, 139;
  --color-orange-4_: 255, 238, 190;
  --color-orange-5_: 255, 247, 223;

  /* Oranges */
  --color-orange-0: rgba(var(--color-orange-0_), 1);
  --color-orange-1: rgba(var(--color-orange-1_), 1);
  --color-orange-2: rgba(var(--color-orange-2_), 1);
  --color-orange-3: rgba(var(--color-orange-3_), 1);
  --color-orange-4: rgba(var(--color-orange-4_), 1);
  --color-orange-5: rgba(var(--color-orange-5_), 1);

  /* Purple base colors */
  --color-purple-0_: 85, 55, 123;
  --color-purple-1_: 115, 77, 163;
  --color-purple-2_: 154, 118, 200;
  --color-purple-3_: 198, 168, 236;
  --color-purple-4_: 226, 204, 253;
  --color-purple-5_: 241, 229, 255;

  /* Purple variations */
  --color-purple-2-25pct: rgba(var(--color-purple-3_), 0.25);

  /* Purples */
  --color-purple-0: rgba(var(--color-purple-0_), 1);
  --color-purple-1: rgba(var(--color-purple-1_), 1);
  --color-purple-2: rgba(var(--color-purple-2_), 1);
  --color-purple-3: rgba(var(--color-purple-3_), 1);
  --color-purple-4: rgba(var(--color-purple-4_), 1);
  --color-purple-5: rgba(var(--color-purple-5_), 1);
}
