/* Various form fields and controls */

.form .label {
  font-size: var(--font-size-medium);
  font-weight: bold;
}

.form .help-text {
  font-size: var(--font-size-small);
  color: var(--u-color_text_subdued);
}

.radio-field {
  display: flex;
  flex-direction: row;
}
.radio-field .label-and-help-text {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  padding-top: 0.375rem;
}
.radio-field .label-and-help-text .label {
  height: 1.5rem;
}
.radio-field .label-and-help-text .help-text {
  height: 1.125rem;
}
