:root {
  /*

  --u-color_[sentiment]_[target]_[emphasis]_[state]

  sentiment
  ---------
  none, info, critical, positive, working, search-highlight

  target 
  ------
  background, text, text-on-[token], icon, icon-on-[token], border, container,
  element, interactive, focus-border, focus-outline, divider, caret, backdrop,
  scrollbar, scrollbar-track

  text-on-action vs action-text

  emphasis
  --------
  none, very-subdued, subdued, emphasized

  state
  -----
  none, hovered, pressed, selected, disabled

  "none" are left off from the token when applicable.

  */

  --u-color_background: var(--color-gray-11);
  --u-color_background_subdued: var(--color-gray-10);
  --u-color_caret: var(--color-blue-1);
  --u-color_focus-border: var(--color-blue-2);
  --u-color_focus-outline: var(--color-blue-2-25pct);
  --u-color_backdrop: var(--color-gray-0-50pct);
  --u-color_scrollbar: var(--color-gray-5);
  --u-color_scrollbar-track: var(--color-transparent);

  --u-color_text: var(--color-gray-0);
  --u-color_text_very-subdued: var(--color-gray-5);
  --u-color_text_subdued: var(--color-gray-4);
  --u-color_text_emphasized: var(--color-gray-0);
  --u-color_icon: var(--color-gray-4);
  --u-color_icon_subdued: var(--color-gray-5);
  --u-color_icon_emphasized: var(--color-gray-1);
  --u-color_icon_hovered: var(--color-gray-3);
  --u-color_divider: var(--color-gray-9);
  --u-color_border: var(--color-gray-6);
  --u-color_border_hovered: var(--color-gray-4);
  --u-color_border_subdued: var(--color-gray-7);
  --u-color_border_emphasized: var(--color-gray-0);
  --u-color_interactive: var(--color-blue-1);
  --u-color_interactive_hovered: var(--color-blue-2);
  --u-color_interactive_pressed: var(--color-pink-1);
  --u-color_action: var(--color-gray-8);
  --u-color_text-on-action: var(--color-gray-0);
  --u-color_icon-on-action: var(--color-gray-4);
  --u-color_action_hovered: var(--color-gray-7);
  --u-color_text-on-action_hovered: var(--color-gray-0);
  --u-color_icon-on-action_hovered: var(--color-gray-4);
  --u-color_action_subdued: var(--color-transparent);
  --u-color_text-on-action-subdued: var(--color-blue-1);
  --u-color_icon-on-action-subdued: var(--color-gray-4);
  --u-color_action_subdued_hovered: var(--color-gray-7);
  --u-color_icon-on-action-subdued_hovered: var(--color-gray-3);
  --u-color_action_emphasized: var(--color-gray-1);
  --u-color_text-on-action-emphasized: var(--color-gray-10);
  --u-color_icon-on-action-emphasized: var(--color-gray-5);
  --u-color_action_emphasized_hovered: var(--color-gray-2);
  --u-color_text-on-action-emphasized_hovered: var(--color-gray-10);
  --u-color_icon-on-action-emphasized_hovered: var(--color-gray-5);

  --u-color_action_outlined: var(--color-transparent);
  --u-color_border-on-action-outlined: var(--color-gray-7);
  --u-color_text-on-action-outlined: var(--color-gray-0);
  --u-color_icon-on-action-outlined: var(--color-gray-4);
  --u-color_action_outlined_hovered: var(--color-transparent);
  --u-color_border-on-action-outlined_hovered: var(--color-gray-5);
  --u-color_text-on-action-outlined_hovered: var(--color-gray-0);
  --u-color_icon-on-action-outlined_hovered: var(--color-gray-4);

  --u-color_container: var(--color-gray-11);
  --u-color_container_faded: var(--color-gray-11-50pct);
  --u-color_container_hovered: var(--color-gray-10);
  --u-color_container_selected: var(--color-gray-10);
  --u-color_container_subdued: var(--color-gray-10);
  --u-color_container_subdued_hovered: var(--color-gray-9);
  --u-color_container_subdued_selected: var(--color-gray-9);
  --u-color_element: var(--color-gray-11);
  --u-color_element_hovered: var(--color-blue-5);
  --u-color_element_selected: var(--color-blue-4);
  --u-color_element_disabled: var(--color-gray-9);
  --u-color_element_subdued: var(--color-gray-10);
  --u-color_element_subdued_hovered: var(--color-gray-9);
  --u-color_element_subdued_selected: var(--color-gray-9);
  --u-color_element_emphasized: var(--color-gray-9);
  --u-color_text-on-element-emphasized: var(--color-gray-3);
  --u-color_icon-on-element: var(--color-gray-3);
  --u-color_icon-on-element-emphasized: var(--color-gray-3);
  --u-color_element_emphasized_hovered: var(--color-gray-8);
  --u-color_element_emphasized_selected: var(--color-gray-8);

  --u-color_element_decorative-purple: var(--color-purple-5);
  --u-color_border-on-element-decorative-purple: var(--color-purple-4);
  --u-color_text-on-element-decorative-purple: var(--color-purple-1);
  --u-color_icon-on-element-decorative-purple: var(--color-purple-3);

  --u-color_search-highlight_text: var(--color-blue-2);
  --u-color_search-highlight_background: var(--color-transparent);

  --u-color_critical_text: var(--color-pink-1);
  --u-color_critical_text_subdued: var(--color-pink-3);
  --u-color_critical_icon: var(--color-pink-3);
  --u-color_critical_action: var(--color-pink-2);
  --u-color_critical_text-on-action: var(--color-gray-11);
  --u-color_critical_icon-on-action: var(--color-pink-4);
  --u-color_critical_action_hovered: var(--color-pink-1);
  --u-color_critical_text-on-action_hovered: var(--color-gray-11);
  --u-color_critical_icon-on-action_hovered: var(--color-pink-3);
  --u-color_critical_element: var(--color-pink-2);
  --u-color_critical_text-on-element: var(--color-gray-11);
  --u-color_critical_icon-on-element: var(--color-gray-11);
  --u-color_critical_element_subdued: var(--color-pink-5);
  --u-color_critical_text-on-element_subdued: var(--u-color_text);

  --u-color_info_container_subdued: var(--color-blue-5);
  --u-color_info_text: var(--color-blue-2);
  --u-color_info_text_emphasized: var(--color-blue-1);
  --u-color_info_icon: var(--color-blue-3);
  --u-color_info_icon_emphasized: var(--color-blue-2);
  --u-color_info_element: var(--color-blue-4);
  --u-color_info_text-on-element: var(--u-color_text);
  --u-color_info_icon-on-element: var(--color-blue-2);
  --u-color_info_element_emphasized: var(--color-blue-2);
  --u-color_info_text-on-element_emphasized: var(--color-gray-11);
  --u-color_info_icon-on-element_emphasized: var(--color-gray-11);
  --u-color_info_element_subdued: var(--color-blue-5);
  --u-color_info_text-on-element_subdued: var(--u-color_text);
  --u-color_info_icon-on-element_subdued: var(--color-blue-1);
  --u-color_positive_text: var(--color-green-2);
  --u-color_positive_icon: var(--color-green-3);
  --u-color_positive_action: var(--color-green-1);
  --u-color_positive_text-on-action: var(--color-gray-11);
  --u-color_positive_icon-on-action: var(--color-green-4);
  --u-color_positive_action_hovered: var(--color-green-2);
  --u-color_positive_text-on-action_hovered: var(--color-gray-11);
  --u-color_positive_icon-on-action_hovered: var(--color-green-4);
  --u-color_positive_element: var(--color-green-1);
  --u-color_positive_text-on-element: var(--color-gray-11);
  --u-color_positive_icon-on-element: var(--color-gray-11);
  --u-color_positive_element_subdued: var(--color-green-5);
  --u-color_positive_text-on-element_subdued: var(--u-color_text);
  --u-color_positive_icon-on-element_subdued: var(--color-green-1);

  --u-color_working_element: var(--color-purple-5);
  --u-color_working_text-on-element: var(--color-purple-2);
  --u-color_working_icon-on-element: var(--color-purple-2);
  --u-color_working_element_subdued: var(--color-gray-10);
  --u-color_working_text-on-element_subdued: var(--u-color_text);
  --u-color_working_border: var(--color-purple-3);
  --u-color_working_border_subdued: var(--color-purple-4);
  /* Syntax */
  --color-syntax-plain: var(--u-color_text);

  --color-icon-type: var(--color-orange-1);
  --color-icon-data-constructor: var(--color-orange-1);
  --color-icon-test: var(--color-teal-1);
  --color-icon-term: var(--color-purple-3);
  --color-icon-ability: var(--color-pink-1);
  --color-icon-ability-constructor: var(--color-pink-1);
  --color-icon-doc: var(--color-orange-2);
  --color-icon-patch: var(--color-blue-2);

  --color-syntax-base: var(--color-gray-0);
  --color-syntax-subtle: var(--color-gray-4);
  --color-syntax-subtle-em: var(--color-gray-3);
  --color-syntax-keyword: var(--color-pink-2);
  --color-syntax-operator: var(--color-gray-5);
  --color-syntax-term: var(--color-purple-2);
  --color-syntax-term-namespace: var(--color-purple-3);
  --color-syntax-ability: var(--color-pink-1);
  --color-syntax-type: var(--color-blue-1);
  --color-syntax-type-namespace: var(--color-blue-2);
  --color-syntax-constructor: var(--color-blue-1);
  --color-syntax-constructor-namespace: var(--color-blue-2);
  --color-syntax-text: var(--color-green-1);
  --color-syntax-link-hover-bg: var(--color-gray-8);
  --color-syntax-link-hover-fg: var(--color-blue-1);

  --color-syntax-monochrome-subtle: var(--u-color_text_subdued);
  --color-syntax-monochrome-base: var(--u-color_text);
  --color-syntax-monochrome-em: var(--u-color_text);
}

/* Shadows */
:root {
  --u-shadow: var(--color-gray-0-20pct);
}
