.definition-summary-tooltip {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;

  & .fully-qualified-name {
    --u-color_text: var(--color-gray-11);
    font-size: var(--font-size-extra-small);
    font-weight: normal;
  }
}
