.definition-summary-tooltip {
  display: flex;
  flex-direction: column;

  & .fully-qualified-name {
    --u-color_text: var(--color-gray-5);
    font-size: var(--font-size-extra-small);
    font-weight: normal;
  }
}
