.code_empty-state {
  font-size: var(--font-size-medium);
  background: url(./empty-state-bg.svg);
  background-position: center 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0rem 4.625rem 5.5rem 4.625rem;
  display: flex;
  justify-content: center;
  color: var(--u-color_text);
  width: 37.5rem;
}

.code_empty-state header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.code_empty-state h2 {
  font-size: 1.25rem;
  color: var(--u-color_text);
}
.code_empty-state p {
  margin-bottom: 0;
}

.code_empty-state .code_empty-state_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.code_empty-state .code_empty-state_faux-definition {
  border: 1px solid var(--u-color_border);
  border-radius: var(--border-radius-base);
  background: var(--u-color_element);
  padding: 1rem 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.code_empty-state .button {
  display: flex;
  align-self: flex-end;
}

@media only screen and (--u-viewport_max-lg) {
  .code_empty-state {
    width: auto;
    margin: auto;
  }
}

@media only screen and (--u-viewport_max-sm) {
  .code_empty-state {
    padding: 0 1rem 2rem 1rem;
  }
}
