.code_empty-state {
  font-size: 1rem;
  background: url(./empty-state-bg.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  padding: 4.625rem;
  padding-top: 0;
  display: flex;
  justify-content: center;
  color: var(--u-color_text);
  width: 37.5rem;
}

.code_empty-state header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.code_empty-state h2 {
  font-size: 1.5rem;
  color: var(--u-color_text);
}
.code_empty-state p {
  margin-bottom: 0;
}

.code_empty-state .code_empty-state_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.code_empty-state .code_empty-state_faux-definition {
  border: 1px solid var(--u-color_border);
  border-radius: var(--border-radius-base);
  background: var(--u-color_element);
  padding: 1rem 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.code_empty-state .button {
  margin-top: 0.8rem;
  display: flex;
  align-self: flex-end;
}

@media only screen and (max-width: 1024px) {
  .code_empty-state {
    width: auto;
  }
}
