.fully-qualified-name {
  display: inline-flex;
  align-items: center;
  height: 1.5rem;
  font-weight: bold;
  color: var(--u-color_text);
}

.fully-qualified-name .fully-qualified-name_segment {
  color: var(--u-color_text);
  padding: 0 0.25em;
}

.fully-qualified-name .fully-qualified-name_segment.clickable:hover {
  color: var(--u-color_interactive_hovered);
}

.fully-qualified-name .fully-qualified-name_separator {
  /* em instead of rem to have the margin be relative to the font-size of
   * .fully-qualified-name
  */
  color: var(--u-color_text_very-subdued);
}
