#workspace {
  --color-workspace-gutter: var(--u-color_container_subdued);
  --workspace-content-height: calc(100vh - var(--app-header-height));

  display: flex;
  flex-direction: column;
}

#workspace-content {
  height: var(--workspace-content-height);
  padding-top: 2rem;
  box-shadow: inset 2rem 0 0 var(--color-workspace-gutter);
}

@media only screen and (max-width: 1024px) {
  #workspace-content {
    box-shadow: none;
    height: auto;
    width: auto;
  }
}

@import "./workspace-item.css";
