/* -- WorkspaceItem -------------------------------------------------------- */

.workspace-item {
  /* @color-todo */
  --color-workspace-item-fg: var(--color-gray-darken-30);
  --color-workspace-item-bg: var(--color-gray-lighten-100);
  --color-workspace-item-bg-faded: var(--color-gray-lighten-100-50pct);

  --color-workspace-item-info-item-fg: var(--color-gray-lighten-30);
  --color-workspace-item-info-item-icon-fg: var(--color-gray-lighten-30);
  --color-workspace-item-info-item-bg: var(--color-transparent);
  --color-workspace-item-info-item-hover-fg: var(--color-gray-darken-30);
  --color-workspace-item-info-item-hover-icon-fg: var(--color-gray-base);
  --color-workspace-item-info-item-hover-bg: var(--color-gray-lighten-50);

  --color-workspace-item-source-bg: var(--color-transparent);
  --color-workspace-item-subtle-fg: var(--color-gray-lighten-30);

  --c-color_workspace-item_border: var(--u-color_border_subdued);
  --c-color_workspace-item_header_border: var(--u-color_border_subdued);
  --c-color_workspace-item_header_bg: var(--color-workspace-item-bg);

  --color-workspace-item-focus-fg: var(--color-gray-darken-30);
  --color-workspace-item-focus-subtle-fg: var(--color-gray-lighten-30);
  --color-workspace-item-focus-source-bg: var(--color-transparent);
  --color-workspace-item-focus-bg: var(--color-gray-lighten-100);
  --color-workspace-item-focus-bg-faded: var(--color-gray-lighten-100-50pct);
  --color-workspace-item-focus-border: var(--u-color_focus-border);
  --c-color_workspace-item_focus_header_bg: var(--color-gray-lighten-60);

  position: relative;
  color: var(--color-workspace-item-fg);
  background: var(--color-workspace-item-bg);
  border: 1px solid var(--c-color_workspace-item_border);
  font-size: var(--font-size-medium);
  border-radius: var(--border-radius-base);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  scroll-margin: 1rem;
}

.workspace-item .definition-doc {
  --c-width_doc_outer: var(--readable-column-width-medium);
  --c-width_doc_inner-content: calc(var(--readable-column-width-medium) - 1.5rem);
}

.workspace-item.workspace-item_is-focused {
  --color-workspace-item-fg: var(--color-workspace-item-focus-fg);
  --color-workspace-item-bg: var(--color-workspace-item-focus-bg);
  --color-workspace-item-bg-faded: var(--color-workspace-item-focus-bg-faded);
  --color-workspace-item-source-bg: var(--color-workspace-item-focus-source-bg);
  --color-workspace-item-subtle-fg: var(--color-workspace-item-focus-subtle-fg);
  --c-color_workspace-item_border: var(--color-workspace-item-focus-border);
  --c-color_workspace-item_header_bg: var(
    --c-color_workspace-item_focus_header_bg
  );

  box-shadow: 0 0 0 1px var(--color-workspace-item-focus-border),
    0 0 0 3px var(--color-blue-2-25pct);
}

.workspace-item .workspace-item_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  border-bottom: 1px solid var(--c-color_workspace-item_header_border);
  background: var(--c-color_workspace-item_header_bg);
  border-radius: var(--border-radius-base) var(--border-radius-base) 0 0;
  line-height: 1;
}

.workspace-item.zoom-level-far .workspace-item_content {
  display: none;
}

.workspace-item.zoom-level-far .workspace-item_header {
  border-bottom: 0;
  border-radius: var(--border-radius-base);
}

.workspace-item .workspace-item_header .category-icon {
  margin-bottom: -1px;
}

.workspace-item .workspace-item_header .workspace-item_info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.workspace-item .workspace-item_header .workspace-item_info .fold-toggle {
  position: absolute;
  left: -1.75rem;
  opacity: 0;
  transition: all 0.2s;
}

.workspace-item .workspace-item_header .workspace-item_info .fold-toggle:hover {
  background: var(--u-color_action);
}

.workspace-item.workspace-item_is-focused .workspace-item_header .workspace-item_info .fold-toggle,
.workspace-item:hover .workspace-item_header .workspace-item_info .fold-toggle {
  opacity: 1;
}

.workspace-item .workspace-item_header .workspace-item_info-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

.workspace-item .workspace-item_header .workspace-item_info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  font-size: var(--font-size-small);
  color: var(--u-color_text_subdued);
}

.workspace-item .workspace-item_other-names {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.workspace-item .workspace-item_header .workspace-item_info-item .icon {
  color: var(--u-color_icon_subdued);
}

.workspace-item .workspace-item_header .actions {
  justify-self: flex-end;
  opacity: 0;
  transition: all 0.2s;
}

.workspace-item.workspace-item_is-focused .workspace-item_header .actions,
.workspace-item:hover .workspace-item_header .actions {
  opacity: 1;
}

.workspace-item .workspace-item_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
}

.workspace-item .definition-source {
  overflow-x: auto;
}

.workspace-item .definition-source,
.workspace-item .definition-doc-columns {
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
}

.workspace-item .definition-doc-columns {
  margin-bottom: 0.5rem;
}

.workspace-item .definition-source .fold-toggle {
  margin-right: 0;
}

.workspace-item .definition-doc-columns .icon-column {
  padding-top: 0.2rem;
  width: 1.25rem;
  display: flex;
  justify-content: center;
}

.workspace-item .definition-doc-columns .icon-column .icon {
  color: var(--u-color_icon_subdued);
}

@media only screen and (--u-viewport_max-lg) {
  .workspace-item .workspace-item_header .workspace-item_info .fold-toggle {
    left: -0.75rem;
  }
}
