.workspace-minimap-content {
    min-width: 10rem;
    background-color: white;
    padding: 1rem;
    border-width: 1px;
    border-color: var(--color-gray-lighten-50);
    border-style: solid;
    border-radius: 5px;
}

.workspace-minimap-content table {
    width: 100%;
}

.workspace-minimap-content table td {
    width: 100%;
}

.workspace-minimap-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.workspace-minimap-header .workspace-minimap-title {
    color: var(--color-gray-lighten-30);
    font-weight: 300;
}

.workspace-minimap-entry {
    width: 100%;
    display: flex;
    align-items: center;
    height: 2.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
}

.workspace-minimap-entry.focused {
    background-color: var(--color-blue-5);
}

.workspace-minimap-entry .workspace-minimap-entry-content {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.workspace-minimap-entry .keyboard-shortcut {
    padding-right: 0.5rem;
}