/* @color-todo @inverse */
.workspace-minimap {
  --c-color_workspace-minimap_background: var(--color-gray-darken-25);
  --c-color_workspace-minimap_item_hovered: var(--color-gray-darken-10);
  --c-color_workspace-minimap_item_selected: var(--color-gray-darken-10);
  --c-color_workspace-minimap_text: var(--color-gray-lighten-100);
  --c-color_workspace-minimap_text_subdued: var(--color-gray-lighten-30);
  --c-color_workspace-minimap_interactive: var(--color-blue-4);

  --u-color_text: var(--c-color_workspace-minimap_text);
  --u-color_interactive: var(--c-color_workspace-minimap_interactive);

  background: var(--c-color_workspace-minimap_background);
  border-radius: var(--border-radius-base);

  font-size: var(--font-size-medium);
}

/* @color-todo @inverse */
.workspace-minimap .button {
  --color-button-default-text: var(--color-gray-lighten-30);
  --color-button-default-icon: var(--color-gray-lighten-20);
  --color-button-default-icon-only: var(--color-gray-lighten-30);
  --color-button-default-bg: var(--color-gray-base);
  --color-button-default-hover-text: var(--color-gray-lighten-50);
  --color-button-default-hover-icon: var(--color-gray-lighten-30);
  --color-button-default-hover-icon-only: var(--color-gray-lighten-50);
  --color-button-default-hover-bg: var(--color-gray-base);

  flex-shrink: 0;
}

.workspace-minimap_expanded {
  display: flex;
  flex-direction: column;
  min-width: 16rem;
  padding: 1rem;
}

.workspace-minimap_collapsed {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  gap: 0.25rem;
}

.workspace-minimap_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  font-size: var(--font-size-medium);
}

.workspace-minimap_header .workspace-minimap_header_title {
  color: var(--c-color_workspace-minimap_text_subdued);
}

.workspace-minimap_header .workspace-minimap_header_title:hover {
  color: var(--c-color_workspace-minimap_interactive);
}

.workspace-minimap_header .workspace-minimap_close {
  font-weight: bold;
}

.workspace-minimap_entries {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.workspace-minimap_item {
  display: flex;
  align-items: center;
  height: 2rem;
  justify-content: space-between;
  cursor: pointer;
  border-radius: var(--border-radius-base);
  color: var(--c-color_workspace-minimap_text_subdued);
  padding: 0 0.5rem;
  transition: all 0.2s;
}

.workspace-minimap_collapsed .workspace-minimap_item {
  height: 1.5rem;
}

.workspace-minimap_expanded .workspace-minimap_item.focused {
  background: var(--c-color_workspace-minimap_item_selected);
}

.workspace-minimap_item:not(.focused):hover {
  background: var(--c-color_workspace-minimap_item_hovered);
  --u-color_text: var(--c-color_workspace-minimap_interactive);
}

.workspace-minimap_item .workspace-minimap_item_content {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.workspace-minimap_item .workspace-minimap_item_content .fully-qualified-name {
  font-weight: normal;
}

.workspace-minimap_item .workspace-minimap_item_content .icon {
  line-height: 1;
}

.workspace-minimap_item .keyboard-shortcut {
  padding-right: 0.5rem;
}

/* -- Responsive ----------------------------------------------------------- */

@media only screen and (--u-viewport_min-sm) {
  .workspace-minimap:not(.workspace-minimap_toggled)
    .workspace-minimap_collapsed {
    display: none;
    opacity: 0;
  }

  .workspace-minimap:not(.workspace-minimap_toggled)
    .workspace-minimap_expanded {
    display: flex;
    opacity: 1;
  }

  .workspace-minimap.workspace-minimap_toggled .workspace-minimap_collapsed {
    display: flex;
    opacity: 1;
  }

  .workspace-minimap.workspace-minimap_toggled .workspace-minimap_expanded {
    display: none;
    opacity: 0;
  }
}

@media only screen and (--u-viewport_max-sm) {
  .workspace-minimap:not(.workspace-minimap_toggled)
    .workspace-minimap_collapsed {
    display: flex;
    opacity: 1;
  }

  .workspace-minimap:not(.workspace-minimap_toggled)
    .workspace-minimap_expanded {
    display: none;
    opacity: 0;
  }

  .workspace-minimap.workspace-minimap_toggled .workspace-minimap_collapsed {
    display: none;
    opacity: 0;
  }

  .workspace-minimap.workspace-minimap_toggled .workspace-minimap_expanded {
    display: flex;
    opacity: 1;
  }
}
