#workspace {
  --color-workspace-gutter: var(--u-color_container_subdued);

  display: flex;
  flex-direction: column;
}

#workspace-content {
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scrollbar-color: var(--u-color_scrollbar) var(--u-color_scrollbar-track);
  padding-top: 2rem;
}

#workspace.view-mode_regular #workspace-content {
  height: var(--workspace-content-height);
  max-width: 100vw;
  overflow-x: hidden;
  /* gutter */
  box-shadow: inset 2rem 0 0 var(--color-workspace-gutter);
}

#workspace.view-mode_presentation #workspace-content {
  padding-top: 4rem;
}

#workspace.view-mode_presentation #workspace-content .definition-doc {
  font-size: var(--font-size-base);
}

#workspace.view-mode_presentation
  #workspace-content
  .definition-doc
  h1:first-child {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 900;
  line-height: 1.2;
}

#workspace.view-mode_presentation #workspace-content .definition-doc h2 {
  font-size: 1.5rem;
}

#workspace.view-mode_presentation
  #workspace-content
  .definition-doc
  :is(h3, h4, h5) {
  font-size: 1.25rem;
}

#workspace.view-mode_presentation #workspace-content .definition-doc aside {
  font-size: var(--font-size-medium);
}
#workspace.view-mode_presentation #workspace-content .loading {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

#workspace-content::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

#workspace-content::-webkit-scrollbar-track {
  background: var(--u-color_scrollbar-track);
}

#workspace-content::-webkit-scrollbar-thumb {
  background-color: var(--u-color_scrollbar);
  border-radius: var(--border-radius-base);
}

@media only screen and (--u-viewport_max-lg) {
  #workspace-content {
    box-shadow: none;
    height: auto;
    width: auto;
  }
}

@import "./workspace-item.css";
