#workspace-minimap header {
    margin-bottom: 0.5rem;
}

#workspace-minimap {
    padding: 0.75rem;
}

.workspace-minimap-entry {
    display: flex;
    align-items: center;
    height: 1.5rem;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
}

.workspace-minimap-entry .focused {
    background-color: lightgray;
}