:root {
  --size-base: 16px;
  --app-header-height: 3.5rem;
  --page-hero-height: 16rem;
  --border-radius-base: 0.25rem;
  /* Good size for avoiding long lines and for
   * fitting the width we render code at (80 char) */
  --readable-column-width: 43rem;

  --c-width_sidebar_regular: 17rem;
  --c-width_sidebar_narrow: 4.5rem;
  --c-width_sidebar_full: 100vw;

  /* -- Layers ------------------------------------------------------------- */
  --layer-beneath: 0;
  --layer-base: 1;
  --layer-popover: 50;
  --layer-tooltip: 75;
  --layer-modal-overlay: 99;
  --layer-modal: 100;
  --layer-modal-above: 110;

  /* -- Font --------------------------------------------------------------- */
  --font-sans-serif: "Inter var", sans-serif;
  --font-monospace: "Fira Code var", monospace;

  --font-size-base: 1rem;
  --font-size-large: 1.5rem;
  --font-size-medium: 0.875rem;
  --font-size-small: 0.75rem;
  --font-size-extra-small: 0.625rem;

  /* -- Viewport sizes ----------------------------------------------------- */
  /* See ui/viewport.css for more */
  --u-viewport_sm: 544px;
  --u-viewport_md: 768px;
  --u-viewport_lg: 1012px;
  --u-viewport_xl: 1280px;
}

.min-xl,
.max-xl,
.min-lg,
.max-lg,
.min-md,
.max-md,
.min-sm,
.max-sm {
  display: none;
}

@media only screen and (--u-viewport_min-xl) {
  .min-xl {
    display: inherit;
  }
}

@media only screen and (--u-viewport_max-xl) {
  .max-xl {
    display: inherit;
  }
}

@media only screen and (--u-viewport_min-lg) {
  .min-lg {
    display: inherit;
  }
}

@media only screen and (--u-viewport_max-lg) {
  .max-lg {
    display: inherit;
  }
}

@media only screen and (--u-viewport_min-md) {
  .min-md {
    display: inherit;
  }
}

@media only screen and (--u-viewport_max-md) {
  .max-md {
    display: inherit;
  }
}

@media only screen and (--u-viewport_min-sm) {
  .min-sm {
    display: inherit;
  }
}

@media only screen and (--u-viewport_max-sm) {
  .max-sm {
    display: inherit;
  }
}

@import "./ui/colors.css";
@import "./ui/fonts.css";
@import "./ui/base.css";
@import "./ui/animations.css";
@import "./ui/components.css";
@import "./ui/page-layout.css";
