.action-menu {
  /* @color-todo @inverse */
  --c-color_action-menu_sheet: var(--color-gray-darken-30);
  --c-color_action-menu_action-items_text: var(--color-gray-lighten-100);
  --c-color_action-menu_action-items_text_subdued: var(--color-gray-lighten-20);
  --c-color_action-menu_action-items_icon: var(--color-gray-lighten-20);
  --c-color_action-menu_action_action-item-option_hover: var(--color-gray-base);

  position: relative;
}

.action-menu .nudge {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
}

.action-menu .action-menu_sheet {
  position: absolute;
  right: 0;
  margin-top: 0.25rem;
  border-radius: var(--border-radius-base);
  background: var(--c-color_action-menu_sheet);
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0.375rem;
  animation: slide-down 0.2s var(--anim-elastic);
  z-index: var(--layer-popover);
  overflow: hidden;
  max-width: 14rem;
}

.action-menu .action-menu_action-item {
  display: flex;
  align-items: center;
  color: var(--c-color_action-menu_action-items_text);
  font-size: var(--font-size-medium);
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.action-menu .action-menu_action-item-option {
  padding: 0.5rem;
  flex-direction: row;
  gap: 0.375rem;
  border-radius: var(--border-radius-base);
  position: relative;
}

.action-menu .action-menu_action-item-option .nudge {
  position: absolute;
  top: 0.5rem;
  right: 0.25rem;
  z-index: 1;
  height: 1rem;
  display: flex;
  align-items: center;
}

.action-menu .action-menu_action-item-title,
.action-menu .action-menu_action-item-option,
.action-menu .action-menu_action-item-loading {
  height: 2rem;
}

.action-menu .action-menu_action-item-option,
.action-menu .action-menu_action-item-option::after {
  transition: none;
}

.action-menu .action-menu_action-item-option:hover {
  background: var(--c-color_action-menu_action_action-item-option_hover);
}

.action-menu .action-menu_action-item-option_text {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.action-menu .action-menu_action-item-option::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  content: " ";
  background: linear-gradient(
    90deg,
    var(--color-transparent),
    var(--c-color_action-menu_sheet),
    var(--c-color_action-menu_sheet)
  );
  width: 2rem;
}
.action-menu .action-menu_action-item-option:hover::after {
  background: linear-gradient(
    90deg,
    var(--color-transparent),
    var(--c-color_action-menu_action_action-item-option_hover),
    var(--c-color_action-menu_action_action-item-option_hover)
  );
}

.action-menu_action-item-option:has(.action-menu_action-item-option_subtext) {
  height: 3.125rem;
}

.action-menu .action-menu_action-item-option_label {
  height: 1rem;
  display: flex;
  align-items: center;
}

.action-menu .action-menu_action-item-option_subtext {
  color: var(--c-color_action-menu_action-items_text_subdued);
  font-size: var(--font-size-small);
  display: flex;
  align-items: center;
  height: 1rem;
}

.action-menu .action-menu_action-item-option .icon {
  color: var(--c-color_action-menu_action-items_icon);
}

.action-menu .action-menu_action-item-title {
  color: var(--c-color_action-menu_action-items_text_subdued);
  font-size: var(--font-size-extra-small);
  text-transform: uppercase;
  padding: 0.5rem;
}

.action-menu .action-menu_action-item-divider {
  padding: 0;
  margin: 0 -0.25rem;
  height: 1rem;
}
