/* @color-todo @inverse */
.anchored-overlay {
  position: relative;

  --u-color_text: var(--color-gray-10);
  --u-color_text_subdued: var(--color-gray-5);
  --u-color_text_very-subdued: var(--color-gray-4);

  --c-color_anchored-overlay_sheet_bg: var(--color-gray-0);
  --c-color_anchored-overlay_sheet_border: var(--color-gray-2);
  --c-color_anchored-overlay_sheet_text_subdued: var(--u-color_text_subdued);
  --c-color_anchored-overlay_sheet_text_very-subdued: var(
    --u-color_text_very-subdued
  );
  --c-color_anchored-overlay_sheet_text: var(--u-color_text);
}

/* @color-todo @inverse */
.anchored-overlay .form-field {
  --u-color_caret: var(--color-blue-5);

  --c-color_form-field_text: var(--color-gray-10);
  --c-color_form-field_text_subdued: var(--color-gray-4);
  --c-color_form-field_border: var(--color-gray-3);
  --c-color_form-field_border_hovered: var(--u-color_border_hovered);
  --c-color_form-field_focus-border: var(--u-color_focus-border);
  --c-color_form-field_focus-outline: var(--u-color_focus-outline);
  --c-color_form-field_icon_subdued: var(--color-gray-4);
  --c-color_form-field_clear: var(--color-gray-4);
  --c-color_form-field_clear_hovered: var(--color-gray-10);
  --c-color_form-field_background: var(--color-gray-1);
  --c-color_form-field_background_hovered: var(--color-gray-2);
}

/* @color-todo @inverse */
.anchored-overlay .tag {
  --c-color_tag_bg: var(--color-gray-1);
  --c-color_tag_text: var(--color-gray-10);
  --c-color_tag_text_subdued: var(--color-gray-4);
  --c-color_tag_icon: var(--color-gray-6);
  --c-color_tag_icon_hovered: var(--color-gray-10);
  --c-color_tag_icon_subdued: var(--color-gray-5);
}

.anchored-overlay .status-indicator {
  --c-color_status-indicator_working: var(--color-purple-0);
  --c-color_status-indicator_icon-on-working: var(--color-purple-3);
}

.anchored-overlay_sheet {
  position: absolute;
  background: var(--c-color_anchored-overlay_sheet_bg);
  color: var(--c-color_anchored-overlay_sheet_text);
  z-index: var(--layer-popover);
  margin-top: 0.25rem;
  border: 1px solid var(--c-color_anchored-overlay_sheet_border);
}

.anchored-overlay_sheet.anchored-overlay_sheet_position_bottom-left {
  left: 0;
}

.anchored-overlay_sheet.anchored-overlay_sheet_position_bottom-right {
  right: 0;
}

.anchored-overlay_sheet.anchored-overlay_sheet_default {
  border-radius: var(--border-radius-base);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.anchored-overlay_sheet.anchored-overlay_sheet_default h2 {
  color: var(--c-color_anchored-overlay_sheet_text_subdued);
}

.anchored-overlay_sheet.anchored-overlay_sheet_default h3 {
  text-transform: uppercase;
  color: var(--c-color_anchored-overlay_sheet_text_very-subdued);
  font-size: var(--font-size-extra-small);
  margin-bottom: 1rem;
}
