/* -- App Header ---------------------------------------------------------- */

/* @color-todo @inverse */
#app-header.view-mode_regular {
  --color-app-header-text: var(--color-gray-lighten-100);
  --color-app-header-bg: var(--color-gray-darken-10);
  --color-app-header-subtle-text: var(--color-gray-lighten-20);
  --color-app-header-subtle-text-em: var(--color-gray-lighten-50);
  --color-app-header-context-unison-share-text: var(--color-purple-4);
  --color-app-header-context-unison-local-text: var(--color-pink-3);
  --color-app-header-border: transparent;
  --u-color_c_text-on-navigation-item: var(--color-gray-lighten-60);
  --u-color_c_navigation-item: var(--color-transparent);
  --u-color_c_navigation-item_hovered: var(--color-gray-base);
  --u-color_c_text-on-navigation-item_hovered: var(--color-gray-lighten-60);
  --u-color_c_navigation-item: var(--color-transparent);
  --u-color_c_navigation-item_selected: var(--color-gray-darken-20);
  --u-color_c_text-on-navigation-item_selected: var(--color-gray-lighten-60);
}

/* In Presentation Mode the header gets a light theme treatment and made semi
 * transparent */
#app-header.view-mode_presentation {
  --color-app-header-text: var(--u-color_text);
  --color-app-header-bg: var(--u-color_background);
  --color-app-header-subtle-text: var(--u-color_text_very-subdued);
  --color-app-header-subtle-text-em: var(--u-color_text_subdued);
  --color-app-header-context-unison-share-text: var(--color-purple-4);
  --color-app-header-context-unison-local-text: var(--color-pink-3);
  --color-app-header-border: transparent;
  opacity: 0.5;
  transition: opacity 0.2s;
}

#app-header.view-mode_presentation .navigation {
  --u-color_c_navigation-item_selected: var(--color-gray-lighten-50);
  --u-color_c_text-on-navigation-item_selected: var(--color-gray-lighten-20);
  --u-color_c_navigation-item_hovered: var(--color-gray-lighten-40);
  --u-color_c_text-on-navigation-item_hovered: var(--color-gray-base);
}

#app-header.view-mode_presentation:hover {
  opacity: 1;
}

#app-header {
  grid-area: app-header;
  padding: 0 1rem 0 1.5rem;
  background: var(--color-app-header-bg);
  color: var(--color-app-header-text);
  border-bottom: 1px solid var(--color-app-header-border);
  display: flex;
  align-items: center;
  font-size: 1rem;
  height: var(--app-header-height);
}

/* We only overwrite the button colors for Regular, since Presentation just
 * uses the default */
#app-header.view-mode_regular .button {
  /* @color-todo @inverse */
  --color-button-default-text: var(--color-gray-lighten-30);
  --color-button-default-icon: var(--color-gray-lighten-20);
  --color-button-default-bg: var(--color-gray-base);
  --color-button-default-hover-text: var(--color-gray-lighten-50);
  --color-button-default-hover-icon: var(--color-gray-lighten-30);
  --color-button-default-hover-bg: var(--color-gray-base);
}

#app-header .toggle-and-title {
  display: flex;
  align-items: center;
}

#app-header .menu-toggle {
  display: none; /* enabled on mobile */
  line-height: 1.5rem;
  margin-right: 0.5rem;
}

#app-header .menu-toggle .icon {
  color: var(--color-app-header-subtle-text);
  font-size: 1.5rem;
}
#app-header .menu-toggle:hover .icon {
  color: var(--color-app-header-subtle-text-em);
}

#app-header .app-title {
  font-size: var(--font-size-base);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-app-header-text);
  margin-right: 2.5rem;
}

#app-header .app-title h1 {
  font-size: var(--font-size-base);
}

#app-header .app-title:hover {
  text-decoration: none;
  transform: translate(0, 0.1rem);
}

#app-header .app-title .context {
  margin-left: 0.375rem;
}

#app-header .app-title .unison-share {
  color: var(--color-app-header-context-unison-share-text);
}

#app-header .app-title .unison-local {
  color: var(--color-app-header-context-unison-local-text);
}

#app-header .navigation {
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

#app-header .navigation .nav-item {
  border-radius: 1rem;
  height: 2rem;
  font-size: var(--font-size-medium);
  padding: 0 1rem;
  transition: background 0.2s;
  line-height: 1;
}

#app-header .navigation .nav-item.selected .nav-item_content {
  font-weight: bold;
}

#app-header .left-side {
  margin-left: 1.5rem;
  justify-self: flex-end;
  align-items: center;
}

#app-header .right-side {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  justify-self: flex-end;
  align-items: center;
  gap: 0.5rem;
}

/* -- Responsive ----------------------------------------------------------- */

@media only screen and (--u-viewport_max-lg) {
  #app-header {
    padding: 0 1rem;
  }

  #app-header .banner {
    display: none;
  }
}

@media only screen and (--u-viewport_max-md) {
  #app-header .menu-toggle {
    display: flex;
  }
}
