.by-at {
  display: flex;
  flex-direction: row;
  gap: 0.25rem; /* TODO: should be 0.5rem when there's an avatar instead of handle */
  font-size: var(--font-size-small);
  color: var(--u-color_text_subdued);
  align-items: center;
}

.by-at .profile-snippet {
  --color_profile-snippet_text: var(--u-color_text_subdued);
}

.by-at .by-at_at {
  /* Total hack, not sure why its 1px of..*/
  padding-top: 1px;
}
