.card {
  --color-card-bg: var(--u-color_container);
  --color-card-text: var(--u-color_text);
  --color-card-title: var(--u-color_text_very-subdued);
  --color-card-border: var(--u-color_border_subdued);

  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  color: var(--color-card-text);
  border-radius: var(--border-radius-base);
  background: var(--color-card-bg);
}

.card.card_tight-padding {
  padding: 0.375rem;
}

.card.contained {
  border: 1px solid var(--color-card-border);
}

/* @todo :has */
/*.card:has(.card-title) {*/
.card.has_card-title {
  padding-top: 1rem;
}

.card .card-title {
  color: var(--color-card-title);
  text-transform: uppercase;
  font-size: var(--font-size-extra-small);
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 2rem;
}

.card.contained-with-fade.contained-with-fade_surface-background {
  --color-card-on-surface-bg: var(--u-color_background);
}

.card.contained-with-fade.contained-with-fade_surface-background-subdued {
  --color-card-on-surface-bg: var(--u-color_background_subdued);
}

.card.contained-with-fade {
  padding: 4rem 0;
  background: linear-gradient(
        var(--color-card-bg),
        var(--color-card-on-surface-bg)
      )
      padding-box,
    linear-gradient(
        var(--color-card-border),
        var(--color-card-border),
        var(--color-card-on-surface-bg)
      )
      border-box;
  border-radius: var(--border-radius-base);
  border: 1px solid transparent;
}
