.contextual-tag {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  background: var(--c-contextual-tag_background);
  border: 1px solid var(--c-contextual-tag_border);
  color: var(--c-contextual-tag_text);
  font-size: var(--font-size-small);
  padding: 0.25rem 0.375rem;
  border-radius: var(--border-radius-base);
  line-height: 1;

  & .icon {
    color: var(--c-contextual-tag_icon);
    font-size: var(--font-size-medium);
  }
}

.contextual-tag.subdued {
  --c-contextual-tag_background: var(--u-color_element);
  --c-contextual-tag_text: var(--u-color_text);
  --c-contextual-tag_icon: var(--u-color_icon);
  --c-contextual-tag_border: var(--u-color_icon);
}

.contextual-tag.decorative-purple {
  --c-contextual-tag_background: var(--u-color_element_decorative-purple);
  --c-contextual-tag_text: var(--u-color_text-on-element-decorative-purple);
  --c-contextual-tag_icon: var(--u-color_icon-on-element-decorative-purple);
  --c-contextual-tag_border: var(--u-color_border-on-element-decorative-purple);
}
