.divider {
  border: 0;
  height: 2px;
  border-radius: 1px;
  width: 100%;
  margin: 0;
}

.divider.divider_size_small {
  height: 1px;
}

.divider.divider_on-surface_light {
  background: var(--u-color_divider);
}

.divider.divider_on-surface_dark {
  /* @color-todo */
  background: var(--color-gray-2);
}

.divider.divider_margin {
  margin: 1.5rem 0;
}
