.empty-state-card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-self: center;
  place-content: center;
  place-items: center;
}

.empty-state-card .empty-state-card_icons {
  position: relative;
  width: 317px;
  height: 174px;
  background: url("../empty-state-icons-bg.svg");
}

.empty-state-card .empty-state-card_center-piece {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -25%);
}

.empty-state-card .empty-state-card_center-piece.center-piece_circle {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  box-shadow: 0 0 0 0.25rem var(--color-gray-lighten-55);
}
