.empty-state {
  font-size: var(--font-size-medium);
  color: var(--u-color_text);
}

/* -- Grid ----------------------------------------------------------------- */

.empty-state .empty-state_grid {
  background: url(../empty-state_grid.svg);
  background-position: center 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0rem 4.625rem 5.5rem 4.625rem;
  display: flex;
  justify-content: center;
  width: 37.5rem;
}

/* -- Icon Cloud ----------------------------------------------------------- */

.empty-state:has(.empty-state_icon-cloud) {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-self: center;
  place-content: center;
  place-items: center;
}

.empty-state:has(.empty-state_icon-cloud) p {
  margin: 0;
}

.empty-state .empty-state_icon-cloud {
  position: relative;
  width: 317px;
  height: 174px;
  background: url("../empty-state_icon-cloud.svg");
}

.empty-state .empty-state_icon-cloud_center-piece {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-gray-lighten-50);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -25%);
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  font-size: 2rem;
}

.empty-state .empty-state_icon-cloud_center-piece.center-piece_circle {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  box-shadow: 0 0 0 0.25rem var(--color-gray-lighten-55);
}

/* -- Search --------------------------------------------------------------- */

.empty-state:has(.empty-state_search) {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  place-content: center;
}

.empty-state .empty-state_search {
  width: 224px;
  height: 68px;
}

.empty-state.on-light .empty-state_search {
  background: url("../empty-state_search_on-light.svg");
}

.empty-state.on-dark .empty-state_search {
  background: url("../empty-state_search_on-dark.svg");
}
