.empty-state {
  font-size: var(--font-size-medium);
  color: var(--u-color_text);
  display: flex;
  flex-direction: column;
}

/* -- Grid ----------------------------------------------------------------- */

.empty-state .empty-state_grid {
  background: url(../empty-state_grid.svg);
  background-position: center 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0rem 4.625rem 5.5rem 4.625rem;
  display: flex;
  justify-content: center;
  width: 37.5rem;
}

/* -- Icon Cloud ----------------------------------------------------------- */

/* @todo :has */
/*.empty-state:has(.empty-state_icon-cloud) {*/
.empty-state.has_empty-state_icon-cloud {
  gap: 1.25rem;
  align-self: center;
  place-content: center;
  place-items: center;
}

/* @todo :has */
/*.empty-state:has(.empty-state_icon-cloud) p {*/
.empty-state.has_empty-state_icon-cloud p {
  margin: 0;
}

.empty-state .empty-state_icon-cloud {
  position: relative;
  width: 317px;
  height: 174px;
  background: url("../empty-state_icon-cloud.svg");
}

.empty-state .empty-state_icon-cloud_center-piece {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--u-color_element_emphasized);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -25%);
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  font-size: 2rem;
}

.empty-state .empty-state_icon-cloud_center-piece_icon {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  box-shadow: 0 0 0 0.25rem var(--u-color_element_emphasized);
  display: flex;
  line-height: 1;
}

.empty-state .empty-state_icon-cloud_center-piece_icon .icon {
  font-size: 2rem;
}

/* -- Search --------------------------------------------------------------- */

/* @todo :has */
/*.empty-state:has(.empty-state_search) {*/
.empty-state.has_empty-state_search {
  gap: 1rem;
  place-content: center;
  align-items: center;
  align-self: center;
}

/* @todo :has */
/*.empty-state:has(.empty-state_search) p */
.empty-state: .has_empty-state_search p {
  margin-bottom: 0;
}

.empty-state .empty-state_search {
  width: 224px;
  height: 68px;
  margin-bottom: 1rem;
}

.empty-state.on-light .empty-state_search {
  background: url("../empty-state_search_on-light.svg");
}

.empty-state.on-dark .empty-state_search {
  background: url("../empty-state_search_on-dark.svg");
}
