.empty-state-card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-self: center;
  place-content: center;
  place-items: center;
}

.empty-state-card .empty-state-card_icons {
  position: relative;
  width: 317px;
  height: 174px;
  background: url("../empty-state-icons-bg.svg");
}
