.error-card {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  max-width: 24rem;
  align-self: center;
}

.error-card .emoji {
  font-size: 2.625rem;
}

.error-card h2 {
  margin-bottom: 1rem;
}

.error-card p {
  font-size: var(--font-size-medium);
}
