.external-link-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
}

.external-link-icon:hover {
  background: var(--u-color_element_emphasized);
}

.external-link-icon:hover .icon {
  color: var(--u-color_icon_hovered);
}
