.fold-toggle {
  --color-fold-toggle-icon: var(--u-color_icon);
  --color-fold-toggle-hover-icon: var(--u-color_interactive_hovered);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;
  line-height: 1;
  border-radius: var(--border-radius-base);
  transition: all 0.2s;
  cursor: pointer;
}

.fold-toggle.disabled {
  cursor: default;
  opacity: 0.5;
}

/* ▶ */
.fold-toggle .icon {
  color: var(--color-fold-toggle-icon);
  transition: all 0.2s ease-out;
}

/* rotate ▶ to ▼ */
.fold-toggle.folded-open {
  transform: rotate(90deg);
}

.fold-toggle:not(.disabled):hover .icon {
  color: var(--color-fold-toggle-hover-icon);
  transition: scale(1.25);
}
