/* Various form fields and controls */

.form a .label {
  font-size: var(--font-size-medium);
  font-weight: bold;
  color: var(--u-color_text);
}

.form a .help-text {
  font-size: var(--font-size-small);
  color: var(--u-color_text_subdued);
}

.radio-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.radio-field .radio-field_option {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: flex-start;
}

.radio-field .radio-field_option input[type="radio"] {
  width: 1rem;
  height: 1rem;
  border-color: var(--u-color_border);
  accent-color: var(--u-color_interactive);
}

.radio-field .radio-field_option input[type="radio"]:focus {
  border-color: var(--u-color_focus-border);
  box-shadow: 0 0 0 0.125rem var(--u-color_focus-outline);
}

.radio-field .label-and-help-text {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.radio-field .label-and-help-text .label {
  display: flex;
  align-items: center;
  height: 1.5rem;
}

.radio-field .label-and-help-text .help-text {
  display: flex;
  align-items: center;
  height: 1.125rem;
}
