/* Various form fields and controls */

.form-field {
  --c-color_form-field_text: var(--u-color_text);
  --c-color_form-field_text_subdued: var(--u-color_text_subdued);
  --c-color_form-field_border: var(--u-color_border);
  --c-color_form-field_border_hovered: var(--u-color_border_hovered);
  --c-color_form-field_focus-border: var(--u-color_focus-border);
  --c-color_form-field_focus-outline: var(--u-color_focus-outline);
  --c-color_form-field_icon_subdued: var(--u-color_icon_subdued);
  --c-color_form-field_clear_subdued: var(--u-color_icon_subdued);
  --c-color_form-field_clear_hovered: var(--u-color_icon_hovered);
  --c-color_form-field_background: var(--u-color_element);
  --c-color_form-field_background_hovered: var(--u-color_element_hovered);
}

.form-field .label,
.form-field a .label {
  font-size: var(--font-size-medium);
  font-weight: bold;
  color: var(--c-color_form-field_text);
}

.form-field .help-text,
.form-field a .help-text {
  font-size: var(--font-size-small);
  color: var(--c-color_form-field_text_subdued);
}

/* -- TextField ------------------------------------------------------------ */

.text-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.text-field input[type="text"],
.text-field textarea {
  border: 1px solid var(--c-color_form-field_border);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 0.75rem;
  font-size: var(--font-size-medium);
  background-color: var(--c-color_form-field_background);
  color: var(--c-color_form-field_text);
}

.text-field .text-field_input {
  position: relative;
}

.text-field
  .text-field_input.text-field_with-icon
  .leading-icon
  .status-indicator {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.text-field .text-field_input.text-field_with-icon .leading-icon > .icon {
  position: absolute;
  top: 0.6875rem;
  left: 0.75rem;
  font-size: var(--font-size-medium);
  color: var(--c-color_form-field_icon_subdued);
}

.text-field .text-field_input .text-field_clear {
  position: absolute;
  top: 0.6875rem;
  right: 0.75rem;
  font-size: var(--font-size-medium);
  color: var(--c-color_form-field_clear_subdued);
}
.text-field .text-field_input .text-field_clear:hover {
  color: var(--c-color_form-field_clear_hovered);
}

.text-field .text-field_input input[type="text"],
.text-field .text-field_input textarea {
  width: 100%;
}

.text-field .text-field_input.text-field_with-icon input[type="text"],
.text-field .text-field_input.text-field_with-icon textarea {
  padding-left: 2.125rem;
}

.text-field input[type="text"] {
  height: 2.25rem;
}

.text-field textarea {
  line-height: 1.5;
}

.text-field input[type="text"]:hover,
.text-field textarea:hover {
  border-color: var(--c-color_form-field_border_hovered);
}

.text-field input[type="text"]:focus,
.text-field textarea:focus {
  outline: none;
  border-color: var(--c-color_form-field_focus-border);
  box-shadow: 0 0 0 2px var(--c-color_form-field_focus-outline);
}

/* -- RadioField ----------------------------------------------------------- */

.radio-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.radio-field .radio-field_option {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
  max-width: 26rem;
  border-radius: var(--border-radius-base);
  transition: all 0.2s;
  padding: 0 0.75rem 0.25rem 0.25rem;
}

.radio-field .radio-field_option:hover {
  background: var(--c-color_form-field_background_hovered);
}

.radio-field .radio-field_option .radio-field_radio {
  display: flex;
  place-items: center;
  height: 2.25rem;
  width: 1.75rem;
}

/* TODO: style this like the design */
.radio-field .radio-field_option input[type="radio"] {
  margin-top: 0;
  width: 1rem;
  height: 1rem;
}

.radio-field .label-and-help-text {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  margin-top: 0.375rem;
}

.radio-field .label-and-help-text .label {
  display: flex;
  align-items: center;
  height: 1.5rem;
}

.radio-field .label-and-help-text .help-text {
  display: flex;
  align-items: center;
  height: 1.125rem;
}
