.nudge {
  position: relative;
  display: inline-flex;
}

.nudge .nudge_circle {
  background: var(--u-color_info_icon);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.25rem;
}

.nudge.with-number .nudge_circle {
  min-width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-extra-small);
  color: var(--u-color_text);
  font-weight: bold;
  font-family: var(--font-monospace);
  line-height: 1;
}

.nudge.pulsate .nudge_circle {
  animation-name: pulsate-size;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: var(--anim-elastic);
}
