.nudge {
  position: relative;
  display: inline-flex;
  font-size: var(--font-size-small);
  color: var(--u-color_info_text);
  font-family: var(--font-monospace);
}

.nudge .nudge_circle {
  background: var(--u-color_info_icon);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.25rem;
}

.nudge.pulsate .nudge_circle {
  animation-name: pulsate-size;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: var(--anim-elastic);
}
