.placeholder-shape.placeholder-shape_intensity_subdued {
  opacity: 0.3;
}

.placeholder-shape.placeholder-shape_intensity_normal {
  opacity: 0.6;
}

.placeholder-shape.placeholder-shape_intensity_emphasized {
  opacity: 1;
}

/* -- PlaceholderShape.Text ------------------------------------------------ */

.placeholder-shape.placeholder-shape_text {
  --c-color_placeholder-shape_text: var(--u-color_text_very-subdued);
  --c-size_placeholder-shape_text_tiny: 0.375rem;
  --c-size_placeholder-shape_text_small: 0.5rem;
  --c-size_placeholder-shape_text_medium: 0.5rem;
  --c-size_placeholder-shape_text_large: 1rem;
  --c-size_placeholder-shape_text_huge: 0.5rem;

  --c-length_placeholder-shape_text_tiny: 2rem;
  --c-length_placeholder-shape_text_small: 8rem;
  --c-length_placeholder-shape_text_medium: 10rem;
  --c-length_placeholder-shape_text_large: 16rem;
  --c-length_placeholder-shape_text_huge: 20rem;

  --c-size_placeholder-shape_text: var(--c-size_placeholder-shape_text_medium);
  --c-length_placeholder-shape_text: var(
    --c-size_placeholder-shape_length_medium
  );

  border-radius: calc(var(--c-size_placeholder-shape_text) / 2);
  height: var(--c-size_placeholder-shape_text);
  width: var(--c-length_placeholder-shape_text);
  background: var(--c-color_placeholder-shape_text);
}

.placeholder-shape.placeholder-shape_text.placeholder-shape_size_tiny {
  --c-size_placeholder-shape_text: var(--c-size_placeholder-shape_text_tiny);
}
.placeholder-shape.placeholder-shape_text.placeholder-shape_size_small {
  --c-size_placeholder-shape_text: var(--c-size_placeholder-shape_text_small);
}
.placeholder-shape.placeholder-shape_text.placeholder-shape_size_medium {
  --c-size_placeholder-shape_text: var(--c-size_placeholder-shape_text_medium);
}
.placeholder-shape.placeholder-shape_text.placeholder-shape_size_large {
  --c-size_placeholder-shape_text: var(--c-size_placeholder-shape_text_large);
}
.placeholder-shape.placeholder-shape_text.placeholder-shape_size_huge {
  --c-size_placeholder-shape_text: var(--c-size_placeholder-shape_text_huge);
}

.placeholder-shape.placeholder-shape_text.placeholder-shape_length_tiny {
  --c-length_placeholder-shape_text: var(
    --c-length_placeholder-shape_text_tiny
  );
}
.placeholder-shape.placeholder-shape_text.placeholder-shape_length_small {
  --c-length_placeholder-shape_text: var(
    --c-length_placeholder-shape_text_small
  );
}
.placeholder-shape.placeholder-shape_text.placeholder-shape_length_medium {
  --c-length_placeholder-shape_text: var(
    --c-length_placeholder-shape_text_medium
  );
}
.placeholder-shape.placeholder-shape_text.placeholder-shape_length_large {
  --c-length_placeholder-shape_text: var(
    --c-length_placeholder-shape_text_large
  );
}
.placeholder-shape.placeholder-shape_text.placeholder-shape_length_huge {
  --c-length_placeholder-shape_text: var(
    --c-length_placeholder-shape_text_huge
  );
}
