.sidebar {
  /* TODO Figure out how width, height, collapse etc can move better into this
   * module from page-layout and ui
   */
  /* defaults, overwritten by ui.css and page-layout.css */
  --c-height_sidebar: 100vh;

  /* Sidebar width is typically set on a page
   * layout level as it is directly used in
   * the CSS Grid */
  --c-width_sidebar_fallback: 17rem;

  /* @color-todo @inverse */
  --color-sidebar-fg: var(--color-gray-lighten-50);
  --color-sidebar-fg-em: var(--color-gray-lighten-100);
  --color-sidebar-bg: var(--color-gray-darken-20);
  /* see color files for why this is needed */
  --color-sidebar-bg-transparent: var(--color-gray-darken-20-transparent);
  --color-sidebar-border: var(--color-gray-base);
  --color-sidebar-subtle-fg: var(--color-gray-lighten-20);
  --color-sidebar-subtle-fg-em: var(--color-gray-lighten-30);
  --color-sidebar-subtle-bg: var(--color-transparent);
  --color-sidebar-focus-fg: var(--color-gray-lighten-60);
  --color-sidebar-focus-bg: var(--color-gray-darken-10);
  --color-sidebar-button-default-text: var(--color-gray-lighten-30);
  --color-sidebar-button-default-icon: var(--color-gray-lighten-20);
  --color-sidebar-button-default-bg: var(--color-gray-base);
  --color-sidebar-button-default-hover-text: var(--color-gray-lighten-50);
  --color-sidebar-button-default-hover-icon: var(--color-gray-lighten-30);
  --color-sidebar-button-default-hover-bg: var(--color-gray-base);
  --color-sidebar-divider: var(--color-gray-darken-10);

  --color-sidebar-tooltip-fg: var(--color-gray-lighten-60);
  --color-sidebar-tooltip-bg: var(--color-gray-darken-30);
  --color-sidebar-tooltip-border: var(--color-gray-darken-10);

  display: flex;
  flex: 1;
  flex-direction: column;
  height: var(--c-height_sidebar);
  position: relative;
  overflow: visible;
  background: var(--color-sidebar-bg);
  color: var(--color-sidebar-fg);
  border-right: 1px solid var(--color-sidebar-border);
  box-shadow: 0 -1px 0 var(--color-sidebar-border);
  font-size: var(--font-size-medium);
  z-index: var(--layer-popover);

  /* max-width: 100% avoids horizontal scroll when with is set to 100vw as it
   * is on small screens */
  width: var(--c-width_sidebar, var(--c-width_sidebar_fallback));
  max-width: 100%;

  --u-color_text: var(--color-sidebar-fg);
  --u-color_text_subdued: var(--color-sidebar-subtle-fg);
  --u-color_interactive: var(--color-blue-2);
  --u-color_interactive_hovered: var(--color-blue-3);

  --color-tooltip-text: var(--color-sidebar-tooltip-fg);
  --color-tooltip-bg: var(--color-sidebar-tooltip-bg);
  --color-tooltip-border: var(--color-sidebar-tooltip-border);

  --u-color_divider: var(--color-sidebar-divider);

  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.sidebar .button {
  --color-button-default-text: var(--color-sidebar-button-default-text);
  --color-button-default-icon: var(--color-sidebar-button-default-icon);
  --color-button-default-bg: var(--color-sidebar-button-default-bg);
  --color-button-default-hover-text: var(
    --color-sidebar-button-default-hover-text
  );
  --color-button-default-hover-icon: var(
    --color-sidebar-button-default-hover-icon
  );
  --color-button-default-hover-bg: var(--color-sidebar-button-default-hover-bg);
}

.sidebar a:hover {
  text-decoration: none;
}

.sidebar .loading-placeholder {
  background: var(--color-sidebar-subtle-fg);
  opacity: 0.5;
}

.sidebar .sidebar-section {
  margin-top: 1.5rem;
}

.sidebar .sidebar-section .sidebar-section_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0rem 1rem 0 1.5rem;
}

.sidebar .sidebar-section_title {
  font-size: var(--font-size-medium);
  font-weight: normal;
  color: var(--color-sidebar-subtle-fg);
  text-transform: uppercase;
  font-size: 0.75rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.sidebar .sidebar-section .sidebar-section_content {
  padding: 0rem 1rem 1rem 1.5rem;
}

.sidebar .sidebar-section.sidebar-section_scrollable {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: var(--c-height_sidebar);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--color-sidebar-subtle-fg) var(--color-sidebar-bg);
}

.sidebar .sidebar-section::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

.sidebar .sidebar-section::-webkit-scrollbar-track {
  background: var(--color-sidebar-bg);
}

.sidebar .sidebar-section::-webkit-scrollbar-thumb {
  background-color: var(--color-sidebar-subtle-fg);
  border-radius: 0.2rem;
}

.sidebar .sidebar-menu-item {
  margin-left: -0.5rem;
  display: flex;
  flex-direction: row;
  user-select: none;
  align-items: center;
  border-radius: var(--border-radius-base);
  padding-left: 0.5rem;
  margin-bottom: 0.125rem;
  height: 1.875rem;
}

.sidebar .sidebar-menu-item label {
  color: var(--color-sidebar-fg);
  transition: all 0.2s;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.875;
}

.sidebar .sidebar-menu-item:hover {
  background: var(--color-sidebar-focus-bg);
  text-decoration: none;
}

.sidebar .divider {
  margin: 0;
}

.sidebar .sidebar-header {
  width: var(--c-width_sidebar, var(--c-width_sidebar_fallback));
  padding: 1.5rem 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}

.sidebar .sidebar-header:after {
  position: absolute;
  left: 1.5rem;
  right: 1.5rem;
  bottom: -2rem;
  height: 1.75rem;
  content: "";
  background: linear-gradient(
    var(--color-sidebar-bg),
    var(--color-sidebar-bg),
    var(--color-sidebar-bg-transparent)
  );
}

.sidebar .sidebar-header-item {
  display: flex;
  flex: 1;
  flex-direction: row;
  user-select: none;
  align-items: center;
  border-radius: var(--border-radius-base);
  gap: 0.75rem;
}

.sidebar .sidebar-header-item .button {
  width: 100%;
}

.sidebar .sidebar-footer {
  width: var(--c-width_sidebar, var(--c-width_sidebar_fallback));
  margin-top: auto;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  justify-self: flex-end;
}

.sidebar .sidebar-toggle .tooltip-bubble {
  width: max-content;
}

.sidebar .sidebar-toggle_collapse .tooltip-bubble {
  /* @todo fix tooltips so we can better automatically position them*/
  left: calc(var(--c-width_sidebar) - 8.5rem);
}

.sidebar .sidebar-toggle_expand .tooltip-bubble {
  /* @todo fix tooltips so we can better automatically position them*/
  left: calc(var(--c-width_sidebar) - 2rem);
}

.sidebar .sidebar-toggle_tooltip {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 10.5rem;
}
