.tag {
  background: var(--u-color_element_emphasized);
  color: var(--u-color_text-on-element-emphasized);
  height: 1.25rem;
  border-radius: calc(1.25rem / 2);
  padding: 0.25rem 0.5rem;
  display: inline-flex;
  width: fit-content;
  align-items: center;
  line-height: 1;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
}
