.tag {
  --c-color_tag_bg: var(--u-color_element_emphasized);
  --c-color_tag_bg_hovered: var(--u-color_element_emphasized_hovered);
  --c-color_tag_text: var(--u-color_text);
  --c-color_tag_text_subdued: var(--u-color_text_subdued);
  --c-color_tag_icon: var(--u-color_icon);
  --c-color_tag_icon_hovered: var(--u-color_icon_hovered);
  --c-color_tag_icon_subdued: var(--u-color_icon_subdued);

  background: var(--c-color_tag_bg);
  color: var(--c-color_tag_text);
  display: inline-flex;
  width: fit-content;
  align-items: center;
  flex-direction: row;
  line-height: 1;
  font-size: var(--font-size-small);
}

a.tag {
  color: var(--c-color_tag_text);
}
a.tag:hover {
  background: var(--c-color_tag_bg_hovered);
}

.tag.tag_size_medium {
  padding: 0 0.5rem;
  gap: 0.25rem;
  height: 1.25rem;
  border-radius: calc(1.25rem / 2);
}

.tag.tag_size_large {
  padding: 0 0.625rem;
  gap: 0.25rem;
  height: 1.5rem;
  border-radius: calc(1.5rem / 2);
}

.tag .tag_text {
  display: inline-flex;
  flex-direction: row;
  gap: 0;
}
.tag .tag_text .tag_left-text,
.tag .tag_text .tag_right-text {
  color: var(--c-color_tag_text_subdued);
}

.tag .tag_icon,
.tag .tag_dismiss {
  display: flex;
  place-content: center;
}

.tag .tag_icon .icon {
  color: var(--c-color_tag_icon_subdued);
  font-size: var(--font-size-small);
}

.tag .tag_dimiss .icon {
  color: var(--c-color_tag_icon);
  font-size: var(--font-size-extra-small);
}

.tag .tag_dimiss:hover .icon {
  color: var(--c-color_tag_icon_hovered);
}

/* -- Collection ----------------------------------------------------------- */

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
}
