/* -- Core ------------------------------------------------------------------*/

/*

Overflow and position has some unique properties:
https://stackoverflow.com/questions/40149221/tooltip-needs-to-be-in-overflow-auto-container-without-being-cut-off

As does the will-change property when paired with overflow. If it is present on
a parent element of the trigger (or the trigger itself), it will put the
tooltip at a weirdly lower z-index and also trigger a scrollbar even if it is
positioned absolute within the overflow container.
 
*/
.tooltip {
  /* @color-todo @inverse */
  --color-tooltip-text: var(--color-gray-lighten-60);
  --color-tooltip-subtle-text: var(--color-gray-lighten-20);
  --color-tooltip-bg: var(--color-gray-darken-30);
  --color-tooltip-border: var(--color-gray-darken-30);
  --color-tooltip-source-bg: var(--color-gray-darken-20);
  --color-tooltip-source-mg: var(--color-gray-darken-10);
  --color-tooltip-fold-hover-bg: var(--color-gray-darken-10);
  --color-tooltip-link: var(--color-blue-3);
  --color-tooltip-link-active: var(--color-pink-2);
  --color-tooltip-link-hover: var(--color-pink-3);
  --color-tooltip-syntax-base: var(--color-gray-lighten-60);
  --color-tooltip-syntax-subtle: var(--color-gray-lighten-20);
  --color-tooltip-syntax-subtle-em: var(--color-gray-lighten-30);
  --color-tooltip-syntax-keyword: var(--color-pink-3);
  --color-tooltip-syntax-operator: var(--color-gray-lighten-20);
  --color-tooltip-syntax-term: var(--color-purple-3);
  --color-tooltip-syntax-term-namespace: var(--color-purple-4);
  --color-tooltip-syntax-ability: var(--color-pink-2);
  --color-tooltip-syntax-type: var(--color-blue-2);
  --color-tooltip-syntax-type-namespace: var(--color-blue-3);
  --color-tooltip-syntax-constructor: var(--color-blue-2);
  --color-tooltip-syntax-constructor-namespace: var(--color-blue-3);
  --color-tooltip-syntax-text: var(--color-green-2);
  --color-tooltip-syntax-monochrome-base: var(--color-gray-lighten-30);
  --color-tooltip-syntax-monochrome-em: var(--color-gray-lighten-60);
  --color-tooltip-syntax-monochrome-subtle: var(--color-gray-lighten-20);

  /* ActionMenu (should probably be moved out of tooltip) */
  --color-tooltip-item-text: var(--color-gray-lighten-60);
  --color-tooltip-item-subtle-text: var(--color-gray-lighten-20);
  --color-tooltip-item-bg: var(--color-transparent);
  --color-tooltip-item-hover-text: var(--color-gray-lighten-60);
  --color-tooltip-item-hover-subtle-text: var(--color-gray-lighten-30);
  --color-tooltip-item-hover-bg: var(--color-gray-darken-10);

  position: absolute;
  opacity: 0;
  pointer-events: none;
  display: none;
  z-index: var(--layer-tooltip);

  --tooltip-border-size: 1px;
  --tooltip-arrow-size: 0.375rem;
  --tooltip-arrow-edge-offset-horizontal: 0.75rem;
  --tooltip-arrow-edge-offset-vertical: 0.4rem;

  /* A faux Arrow that is " larger than "arrow-size" such
   * that it appears to give the original arrow a border. All :before styles
   * target this */
  --tooltip-arrow-border-size: calc(
    var(--tooltip-border-size) + var(--tooltip-arrow-size)
  );

  --u-color_interactive: var(--color-blue-2);
  --u-color_interactive_hovered: var(--color-blue-3);

  /* Docs (.definition-doc) can exist inside tooltips, but tooltips often have
   * a different background color, so overwrite doc colors to match tooltip */
  --color-doc-link: var(--color-tooltip-link);
  --color-doc-link-active: var(--color-tooltip-link-active);
  --color-doc-link-hover: var(--color-tooltip-link-hover);
  --color-doc-source-bg: var(--color-tooltip-source-bg);

  /* Syntax (via Docs) can be rendered inside tooltips */
  --color-syntax-base: var(--color-tooltip-syntax-base);
  --color-syntax-subtle: var(--color-tooltip-syntax-subtle);
  --color-syntax-subtle-em: var(--color-tooltip-syntax-subtle-em);
  --color-syntax-keyword: var(--color-tooltip-syntax-keyword);
  --color-syntax-operator: var(--color-tooltip-syntax-operator);
  --color-syntax-term: var(--color-tooltip-syntax-term);
  --color-syntax-term-namespace: var(--color-tooltip-syntax-term-namespace);
  --color-syntax-ability: var(--color-tooltip-syntax-ability);
  --color-syntax-type: var(--color-tooltip-syntax-type);
  --color-syntax-type-namespace: var(--color-tooltip-syntax-type-namespace);
  --color-syntax-constructor: var(--color-tooltip-syntax-constructor);
  --color-syntax-constructor-namespace: var(
    --color-tooltip-syntax-constructor-namespace
  );
  --color-syntax-text: var(--color-tooltip-syntax-text);
  --color-syntax-monochrome-base: var(--color-tooltip-syntax-monochrome-base);
  --color-syntax-monochrome-em: var(--color-tooltip-syntax-monochrome-em);
  --color-syntax-monochrome-subtle: var(
    --color-tooltip-syntax-monochrome-subtle
  );
}

/* -- Core ------------------------------------------------------------------*/

.tooltip-bubble {
  position: absolute;
  font-size: var(--font-size-medium);
  color: var(--color-tooltip-text);
  background: var(--color-tooltip-bg);
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius-base);
  min-width: max-content;
  border: var(--tooltip-border-size) solid var(--color-tooltip-border);
}

.tooltip-bubble:after,
.tooltip-bubble:before {
  border: solid var(--color-transparent);
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.tooltip-bubble:after {
  border-width: var(--tooltip-arrow-size);
}

.tooltip-bubble:before {
  border-width: var(--tooltip-arrow-border-size);
}

/* -- Arrows and Positions --------------------------------------------------*/

.tooltip.below .tooltip-bubble {
  padding-top: 0.5rem;
  top: 1.5rem;
}

.tooltip.below .tooltip-bubble:after {
  bottom: 100%;
  border-bottom-color: var(--color-tooltip-bg);
}

.tooltip.below .tooltip-bubble:before {
  bottom: 100%;
  border-bottom-color: var(--color-tooltip-border);
}

.tooltip.above .tooltip-bubble {
  padding-bottom: 0.5rem;
  bottom: 1.5rem;
}

.tooltip.above .tooltip-bubble:after {
  top: 100%;
  border-top-color: var(--color-tooltip-bg);
}

.tooltip.above .tooltip-bubble:before {
  top: 100%;
  border-top-color: var(--color-tooltip-border);
}

.tooltip:is(.below, .above).arrow-start .tooltip-bubble {
  left: 0;
}

.tooltip:is(.below, .above).arrow-start .tooltip-bubble:after {
  left: var(--tooltip-arrow-edge-offset-horizontal);
}

.tooltip:is(.below, .above).arrow-start .tooltip-bubble:before {
  left: calc(
    var(--tooltip-arrow-edge-offset-horizontal) - var(--tooltip-border-size)
  );
}

.tooltip:is(.below, .above).arrow-end .tooltip-bubble {
  right: 0;
}

.tooltip:is(.below, .above).arrow-end .tooltip-bubble:after {
  right: var(--tooltip-arrow-edge-offset-horizontal);
}

.tooltip:is(.below, .above).arrow-end .tooltip-bubble:before {
  right: calc(
    var(--tooltip-arrow-edge-offset-horizontal) - var(--tooltip-border-size)
  );
}

.tooltip:is(.below, .above).arrow-middle .tooltip-bubble {
  transform: translateX(-25%);
}

.tooltip:is(.below, .above).arrow-middle .tooltip-bubble:after {
  left: 50%;
  transform: translateX(-50%);
}

.tooltip:is(.below, .above).arrow-middle .tooltip-bubble:before {
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.right-of .tooltip-bubble {
  padding-left: 0.5rem;
  left: 100%;
}

.tooltip.right-of .tooltip-bubble:after {
  right: 100%;
  border-right-color: var(--color-tooltip-bg);
}

.tooltip.right-of .tooltip-bubble:before {
  right: 100%;
  border-right-color: var(--color-tooltip-border);
}

.tooltip.left-of .tooltip-bubble {
  padding-right: 0.5rem;
  right: 100%;
}

.tooltip.left-of .tooltip-bubble:after {
  left: 100%;
  border-left-color: var(--color-tooltip-bg);
}

.tooltip.left-of .tooltip-bubble:before {
  left: 100%;
  border-left-color: var(--color-tooltip-border);
}

.tooltip:is(.right-of, .left-of).arrow-start .tooltip-bubble {
  top: 0;
}

.tooltip:is(.right-of, .left-of).arrow-start .tooltip-bubble:after {
  top: var(--tooltip-arrow-edge-offset-vertical);
}

.tooltip:is(.right-of, .left-of).arrow-start .tooltip-bubble:before {
  top: calc(
    var(--tooltip-arrow-edge-offset-vertical) - var(--tooltip-border-size)
  );
}

.tooltip:is(.right-of, .left-of).arrow-end .tooltip-bubble {
  bottom: 0;
}

.tooltip:is(.right-of, .left-of).arrow-end .tooltip-bubble:after {
  bottom: var(--tooltip-arrow-edge-offset-vertical);
}

.tooltip:is(.right-of, .left-of).arrow-end .tooltip-bubble:before {
  bottom: calc(
    var(--tooltip-arrow-edge-offset-vertical) - var(--tooltip-border-size)
  );
}

.tooltip:is(.right-of, .left-of).arrow-middle .tooltip-bubble {
  transform: translateY(-25%);
}

.tooltip:is(.right-of, .left-of).arrow-middle .tooltip-bubble:after {
  top: 50%;
  transform: translateY(-50%);
}

.tooltip:is(.right-of, .left-of).arrow-middle .tooltip-bubble:before {
  top: 50%;
  transform: translateY(-50%);
}

/* -- Trigger / Showing -----------------------------------------------------*/

.tooltip-trigger {
  display: inline-flex;
}

.tooltip-trigger.tooltip_show .tooltip,
.tooltip-trigger:hover .tooltip {
  animation: fade-in 0.2s;
  pointer-events: auto;
  opacity: 1;
  display: flex;
}

/* -- Content -------------------------------------------------------------- */

.tooltip.content-menu .tooltip-bubble {
  padding: 0.5rem;
}

.tooltip .tooltip-menu-items .tooltip-menu-items {
  display: flex;
  flex-direction: column;
}

.tooltip .tooltip-menu-items .tooltip-menu-item {
  display: flex;
  align-items: center;
  flex: 1;
  height: 2rem;
  color: var(--color-tooltip-item-text);
  background: var(--color-tooltip-item-bg);
  white-space: nowrap;
  padding: 0 0.5rem;
  line-height: 1rem;
  border-radius: var(--border-radius-base);
}

.tooltip .tooltip-menu-items .tooltip-menu-item .icon {
  font-size: var(--font-size-base);
  margin-right: 0.5rem;
  color: var(--color-tooltip-item-subtle-text);
  margin-top: -1px;
}

.tooltip .tooltip-menu-items .tooltip-menu-item:hover {
  text-decoration: none;
  color: var(--color-tooltip-item-hover-text);
  background: var(--color-tooltip-item-hover-bg);
}

.tooltip .tooltip-menu-items .tooltip-menu-item:hover .icon {
  color: var(--color-tooltip-item-hover-subtle-text);
}
