.user-summary {
  --color_user-summary_text: var(--u-color_text);
  --color_user-summary_text_subdued: var(--u-color_text_subdued);
  --color_user-summary_border: var(--u-color_border_subdued);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.user-summary .user-summary_handle {
  font-size: var(--font-size-small);
  color: var(--color_user-summary_text_subdued);
}

.user-summary .user-sumary_name,
/* If there's no name, treat the handle the same as if it was the name */
.user-summary.user-summary_handle-only .user-summary_handle {
  font-size: var(--font-size-medium);
  font-weight: bold;
  color: var(--color_user-summary_text);
}
